
.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
}
.layer {
    width: 300px; 
    background: green; 
    height: 50px; 
    padding: 5px; 
}
body {
    margin: 0 auto;
    font-family: 'Times New Roman';

}
header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: maroon;
    justify-content: space-around;
}
.texth{
   text-align: center;
   vertical-align: middle;
}
.piccen {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    width: 203px;
    height: 203px;
}
.pic{
    display:block;
    margin:auto;
    float:left; 
    margin:10px; 
    width:100px; 
    height:100px;
}
.style{
    width:auto; 
    background-color:#00BFFF; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
}
.stylehp {
    background-color: #000033;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: maroon;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:auto; 
    background-color:#00BFFF; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
}
table {
    width: 100%;
    max-width:800px;
    background-color:rebeccapurple;
    margin: auto; 
    text-align: center;
    margin-top:20px; 
    padding:10px;
}
th {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
td {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}


table tr:nth-child(2n) td {
    background: #9966FF;
}

table tr:nth-child(2n+1) td{ 
    background: #9999FF; 

}

/*---------------------------*/
.container {
    position: relative;
    margin:0;
    margin-left: auto;
    margin-right: auto;
}
.containerm {
    position: relative;
    margin:0;
    margin-left: auto;
    margin-right: auto;
}
.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-flex {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.main_article{
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
#main_article:nth-child(1) {
    order:0; 
}
    #main_article:nth-child(2) {
        order: 1;
    }
    #main_article:nth-child(3) {
        order: 2;
    }
    #main_article:nth-child(4) {
        order: 3;
    }
@media screen and (min-width: 576px) {
    .container {
        width: 100%;
    }
    .containerm {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    .containerm {
        width: 100%;
    }
}


@media screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
    .containerm {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
    .containerm {
        width: 100%;
    }
}